In [1]:
d ={'a':'faij'}

In [2]:
d

{'a': 'faij'}

In [3]:
d1 ={"name":"Faijul Islam", "Mobile": 9851719383, True:12345}

In [4]:
d1

{'name': 'Faijul Islam', 'Mobile': 9851719383, True: 12345}

In [5]:
d1["Mobile"]

9851719383

In [6]:
d1[True]

12345

In [7]:
d1[1]  ##Because True is also stored as 1

12345

In [8]:
d2 ={'a1':'Faijul' , 'B1':'Islam' , 'a1':'Faijul Islam'}

In [9]:
d2["a1"] ##Key should be unique , that is why it is overwritten by last Value

'Faijul Islam'

In [10]:
d3 ={'Sub' : 'Python' , 'course' : ["pthon","ML","Data science"] }

In [11]:
d3['course'][2] ##fetch data science from list inside dictionary

'Data science'

In [12]:
d4 ={"List":[1,2,3,4,3,5,6] ,"Tuple":(12,2,34,2,4,5,6,7) , "Set":{23,34,23,56,77} ,"Dict" :{"a":123 ,"b":234}}

In [13]:
d4["Set"] ##Set doesnt carry repeated value

{23, 34, 56, 77}

In [14]:
d4["Dict"]['a']

123

In [15]:
d4["New add"] = ["Value added and it will be added if the value is not present in dict"]

In [16]:
d4

{'List': [1, 2, 3, 4, 3, 5, 6],
 'Tuple': (12, 2, 34, 2, 4, 5, 6, 7),
 'Set': {23, 34, 56, 77},
 'Dict': {'a': 123, 'b': 234},
 'New add': ['Value added and it will be added if the value is not present in dict']}

In [17]:
d4.keys()

dict_keys(['List', 'Tuple', 'Set', 'Dict', 'New add'])

In [18]:
list(d4.values())

[[1, 2, 3, 4, 3, 5, 6],
 (12, 2, 34, 2, 4, 5, 6, 7),
 {23, 34, 56, 77},
 {'a': 123, 'b': 234},
 ['Value added and it will be added if the value is not present in dict']]

In [19]:
del d4["New add"] ##delete function will delete

In [20]:
d4

{'List': [1, 2, 3, 4, 3, 5, 6],
 'Tuple': (12, 2, 34, 2, 4, 5, 6, 7),
 'Set': {23, 34, 56, 77},
 'Dict': {'a': 123, 'b': 234}}

In [21]:
d4.pop("New add") ##it will pop the value of the ask parameter and delete that

KeyError: 'New add'

In [23]:
##Control Flow
##marks = 65
marks = int(input("enter your marks"))
if marks >= 80 :
    print("You will go to A0 batch")
elif marks >= 60 and marks <80 :
    print("You will be part of B batch")
elif marks >=40 and marks < 60 :
    print("Part of C Batch")
else :
    print("Special Care needed")

enter your marks 456

You will go to A0 batch

In [24]:
price =int(input("enter the price"))

if price > 1000:
    print("I will not buy")
else :
    print("I will buy ")

enter the price 1200

I will not buy

In [3]:
L =[1,2,3,4,5,6,7,8,9,10]
L1 =[]
for i in L :
    print(i+1)
    L1.append(i+1)
print(L1)

2
3
4
5
6
7
8
9
10
11
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [30]:
#convert the below list to upper case and give a final list

In [4]:
l2 =["faijul",'islam','ayesha','ahamed']
l3 = []
for i in l2:
    print(i)
    l3.append(i.upper())
print(l3)

faijul
islam
ayesha
ahamed
['FAIJUL', 'ISLAM', 'AYESHA', 'AHAMED']

In [2]:
#make two different list(1 for integer another for string) from the below list mixed of integer and string 

l4 =[1,2,3,4,5,654,6,"abc","flight","efg",78]
l5_int =[]
l6_str =[]
for i in l4:
    if type(i) == int:
        l5_int.append(i)
        print(l5_int)
    else :
        l6_str.append(i)
        print(l6_str)
print(l5_int)
print(l6_str)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 654]
[1, 2, 3, 4, 5, 654, 6]
['abc']
['abc', 'flight']
['abc', 'flight', 'efg']
[1, 2, 3, 4, 5, 654, 6, 78]
[1, 2, 3, 4, 5, 654, 6, 78]
['abc', 'flight', 'efg']